name: Continuous integration

on:
  push:
    branches: [ "main" ]

jobs:
  Github-actions-demo:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
