name: Continuous integration

on:
  push:
    branches: [ "main" ]

jobs:
  Github-actions-demo:
    runs-on: ubuntu-latest

    steps:
    
        
    - name: Checkout
      uses: actions/checkout@v1

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16.x

    - name: Install dependencies and Build
      uses: actions/checkout@v1
      run: |
        cd backend && npm i
        cd backend && npm run build --if-present

    